@page
@model AspnetCoreFull.Pages.CRUD.UserCRUDModel;
@using AspnetCoreFull.Helpers;
@using AspnetCoreFull.Models;


@{
  ViewData["Title"] = "UserCRUD";

  @* Calculate percentages and round them to the nearest integer *@
  int totalUsers = Model.TotalUserCount;
  int verifiedUsers = Model.VerifiedUserCount;
  int duplicateUsers = Model.DuplicateUserCount;
  int unverifiedUsers = Model.UnverifiedUserCount;

  int verifiedUsersPercentage = (totalUsers != 0) ? (int)Math.Round((double)verifiedUsers / totalUsers * 100) : 0;
  int duplicateUsersPercentage = (totalUsers != 0) ? (int)Math.Round((double)duplicateUsers / totalUsers * 100) : 0;
  int unverifiedUsersPercentage = (totalUsers != 0) ? (int)Math.Round((double)unverifiedUsers / totalUsers * 100) : 0;

  ViewData["VerifiedUsersPercentage"] = verifiedUsersPercentage;
  ViewData["DuplicateUsersPercentage"] = duplicateUsersPercentage;
  ViewData["UnverifiedUsersPercentage"] = unverifiedUsersPercentage;

}

@section VendorStyles {
  <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
  <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
  <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
  <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
  <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
  <script src="~/vendor/libs/moment/moment.dist.js"></script>
  <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
  <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
  <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
  <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
  <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
  <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
  <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
  <script src="~/js/user-crud.dist.js"></script>
}

@* User Analytics Widget *@
<div class="row g-4 mb-4">
  @* Total Users *@
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Users</span>
            <div class="d-flex align-items-end mt-2">
              <h3 class="mb-0 me-2">@Model.TotalUserCount</h3>
              <small class="text-primary">(100%)</small>
            </div>
            <small>Total Users</small>
          </div>
          <span class="badge bg-label-primary rounded p-2">
            <i class="bx bx-user bx-sm"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  @* Verified Users *@
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Verified Users</span>
            <div class="d-flex align-items-end mt-2">
              <h3 class="mb-0 me-2">@Model.VerifiedUserCount</h3>
              <small class="text-success">( +@ViewData["VerifiedUsersPercentage"]% )</small>
            </div>
            <small>Recent analytics </small>
          </div>
          <span class="badge bg-label-success rounded p-2">
            <i class="bx bx-user-check bx-sm"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  @* Duplicate Users *@
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Duplicate Users</span>
            <div class="d-flex align-items-end mt-2">
              <h3 class="mb-0 me-2">@Model.DuplicateUserCount</h3>
              <small class="text-danger">( +@ViewData["DuplicateUsersPercentage"]% )</small>
            </div>
            <small>Recent analytics</small>
          </div>
          <span class="badge bg-label-danger rounded p-2">
            <i class="bx bx-group bx-sm"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  @* Unverified Users *@
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span>Verification Pending</span>
            <div class="d-flex align-items-end mt-2">
              <h3 class="mb-0 me-2">@Model.UnverifiedUserCount</h3>
              <small class="text-warning">( +@ViewData["UnverifiedUsersPercentage"]% )</small>
            </div>
            <small>Recent analytics</small>
          </div>
          <span class="badge bg-label-warning rounded p-2">
            <i class="bx bx-user-voice bx-sm"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

@* Users DataTable *@
@if (Model.Users != null && Model.Users.Count > 0)
{
  <div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">Search Filter</h5>
  </div>
  <div class="card-datatable table-responsive pb-0">
    <table id="userTable" class="table">
      <thead class="border-top">
        <tr>
          <th></th>
          <th>Id</th>
          <th>User</th>
          <th>Email</th>
          <th>Verified</th>
          <th>Contact</th>
          <th>Role</th>
          <th>Plan</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model.Users)
          {
            <tr>
              <td></td>
              <td>@user.Id</td>
              <td class="user-name text-nowrap">@Html.Raw(UserCRUDHelpers.GenerateUserAvatar(user))</td>
              <td class="text-truncate">@user.Email</td>
              <td>@if (user.IsVerified)
                {
                  <i class='bx fs-4 bx-check-shield text-success'></i>
                }
                else
                {
                  <i class="bx fs-4 bx-shield-x text-danger"></i>
                }
                <input type="hidden" class="user-verified-@user.Id" data-is-verified="@user.IsVerified" />
              </td>
              <td class="text-nowrap">@UserCRUDHelpers.FormatUSPhoneNumber(user.ContactNumber)</td>
              <td class="text-capitalize">@user.SelectedRole</td>
              <td class="text-capitalize">@user.SelectedPlan</td>
              <td class="text-nowrap">
                @* Edit Button *@
                <button class="btn btn-sm btn-icon edit-user-button" data-bs-toggle="offcanvas"
                  data-bs-target="#editUserOffcanvas" id="@user.Id-editUser"><i class="bx bx-edit"></i></button>
                @* Delete Button *@
                <form method="post" asp-page-handler="Delete" asp-route-id="@user.Id" id="@user.Id-deleteForm"
                  onsubmit="showSuccessAlert('Deleted');" class="d-inline">
                  <button class="btn btn-sm btn-icon" id="@user.Id-deleteUser" onclick="showDeleteConfirmation('@user.Id')">
                    <i class="bx bx-trash"></i>
                  </button>
                </form>
                @* Dropdown Button *@
                <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                    class="bx bx-dots-vertical-rounded"></i></button>
                <div class="dropdown-menu dropdown-menu-end m-0">
                  <a href="/Apps/Users/View/Account" class="dropdown-item">View</a>
                  <a href="javascript:void();" class="dropdown-item">Suspend</a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}


@* Create User Form Offcanvas Partial*@
@await Html.PartialAsync("partials/_CreatUserOffcanvasPartial")

@* Edit User Form Offcanvas Partial*@
@await Html.PartialAsync("partials/_EditUserOffcanvasPartial")
